<mat-card class="component">
  <mat-card-title class="title">All Teams</mat-card-title>
  <mat-card-content>
    <button mat-icon-button class="refresh-btn" (click)="refreshList()">
      <mat-icon>refresh</mat-icon>
    </button>
    <ng-container *ngFor="let team of teams">
      <mat-card class="team">
        <div class="team-info">
          <div class="team">
            <h2 class="team-name">{{ team.teamName }}</h2>
          </div>
          <div class="members">
            <h4 class="nr-of-players" >Members: {{team.numberOfMembers}}</h4>
          </div>
          <div class="button-container">
            <button *ngIf="isCollapsed" mat-icon-button color="primary" class="btn" (click)="onTeamSelected(team.teamName)">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button *ngIf="!isCollapsed" mat-icon-button color="primary" class="btn" (click)="toggleTeamMembers()">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-icon-button color="primary" class="btn" (click)="deleteTeam(team.teamName)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="checkTeam(team.teamName) && !isCollapsed">
          <h3>Team Members:</h3>
          <ul>
            <li *ngFor="let member of teamMembers">{{ member.firstName }} {{ member.lastName }}</li>
          </ul>
        </div>
      </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>
