<mat-toolbar color="accent">
  <span style="color:black" >FrisbeeApp</span>
  <div *ngIf="isAdmin()">
    <a class="buttons"  (click)="redirectToUserDetails()">Home</a>
    <a class="buttons" (click)="redirectToAddTeamComponent()">Teams Management</a>
    <a class="buttons" (click)="redirectToDeleteUserComponent()">Users management</a>
  </div>
  <div class="auth-buttons" style="display: flex;">
    <div *ngIf="!isLoggedIn()">
      <button *ngIf="isOnLoginPage" mat-raised-button (click)="goToRegister()">Register</button>
      <button *ngIf="!isOnLoginPage" mat-raised-button (click)="goToLogin()">Login</button>
    </div>
    <button *ngIf="isLoggedIn()" mat-raised-button (click)="goToLogout()">Logout</button>
  </div>

</mat-toolbar>
<router-outlet></router-outlet>
