.sidebar {
  position: fixed;
  top: 10%;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.user-details-card {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 400px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.details-row {
  display: flex;
  margin-bottom: 10px;
}

.details-label {
  font-weight: bold;
  margin-right: 10px;
  width: 120px;
}

.details-value {
  flex: 1;
  overflow-wrap: break-word;
}

.button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
