<div class="row">
  <mat-card class="form">
    <div class="column">
      <mat-card-title class="mat-mdc-card-title">Password reset request</mat-card-title>
      <mat-card-content class="content">

        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label for="email">Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <div class="submit-button">
            <button mat-raised-button color="primary" type="submit">Send Email</button>
          </div>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
